<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
채팅방에 입장하셨습니다.<br>

채팅인원 : <td th:text="${chatRoom.owner.email}"></td>, <td th:text="${chatRoom.member.email}"></td> <br>

<input type="text" placeholder="보낼 메세지를 입력하세요." class="content">
<button type="button" value="전송" class="sendBtn" onclick="sendMsg()">전송</button>
<div>
    <span>메세지</span>

    <tr th:each="message : ${messageList}">
        <td th:text="${message.message}"></td>
    </tr>

    <div class="msgArea"></div>
</div>

</body>
<script src="/js/chat.js"></script>
</html>