<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../../static/market/css/bootstrap.min.css"
          th:href="@{/market/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>
    <h4 class="mb-3">상품 입력</h4>
    <form th:action="@{'/chanMarket/itemList'}" th:method="post">
        <div>
            <label>등록한 이메일</label>
            <input type="text" id="email" name="email" th:value="${email}" class="form-control"
                   readonly>
        </div>
        <div>
            <label for="itemName">상품명</label>
            <input type="text" id="itemName" name="itemName" class="form-control"
                   placeholder="이름을 입력하세요">
        </div>
        <div>
            <label for="price">가격</label>
            <input type="text" id="price" name="price" class="form-control"
                   placeholder="가격을 입력하세요">
        </div>
        <hr class="my-4">
        <div>
            <label for="itemInformation">설명</label>
            <input type="text" id="itemInformation" name="itemInformation" class="form-control"
                   maxlength="255" style="vertical-align:top; width: 200px; height: 100px;"
                   placeholder="설명을 입력하세요">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품
                    등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='itemList.html'"
                        th:onclick="|location.href='@{/chanMarket/itemList}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>