<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <style>
        .container {
            max-width: 560px;
        }
    </style>

</head>
<body>
<div class="container">
    <div id="hello"></div>
    <div class="py-5 text-center">
        <h2>상품 상세</h2>
    </div>
    <!-- 추가 -->
    <form>
    <div>
        <label for="email">판매자</label>
        <input type="text" id="email" name="email" class="form-control"
               value="1" th:value="${item.member.getEmail()}" readonly>
    </div>
    <div>
        <label for="itemName">상품명</label>
        <input type="text" id="itemName" name="itemName" class="form-control"
               value="상품A" th:value="${item.itemName}" readonly>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" class="form-control"
               value="10000" th:value="${item.price}" readonly>
    </div>
    <div>
        <label for="itemInformation">제품 설명</label>
        <input type="text" id="itemInformation" name="itemInformation" class="form-control"
               value="10" th:value="${item.itemInformation}" readonly>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/chanMarket/itemList/{itemId}/edit(itemId=${item.id})}'|" type="button">상품 수정</button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/chanMarket/itemList/{itemId}/delete(itemId=${item.id})}'|" type="button">상품 삭제</button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='itemBasket.html'"
                    th:onclick="|location.href='@{/chanMarket/itemList/{itemId}/itemBasket(itemId=${item.id})}'|"
                    type="button">찜하기</button>
        </div>



        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='itemList.html'"
                    th:onclick="|location.href='@{/chanMarket/itemList}'|"
                    type="button">목록으로</button>
        </div>
    </div>
</div>
    </form>
</div>
<br>
<br>


<h1>댓글</h1>

<form th:action="@{'/chanMarket/itemList/' + ${item.id}}" th:method="post">
    <textarea id="text" name="text" cols="40" rows="5"></textarea>
    <br>
    <input type="submit" value="작성">
    <input type="reset" value="취소">
</form>


<hr class="my-4">
<form>
<div class="card">
        <tr th:each="comments : ${comment}">
            <div class="card-header">
                <td th:text="${comments.member.email}"></td>
                <td th:text="${comments.nowTime}"></td>
            </div>
            <div class="card-body">
            <td th:text="${comments.text}"></td>
            </div>
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/chanMarket/itemList/{commentId}/commentEdit(commentId=${comments.id})}'|"
                    type="button">수정</button>
            <button><a href="javascript:void(0);" class="btn btn-danger" th:onclick="'deleteConfirm(' + ${comments.getItem().id} +','+ ${comments.id} + ')'">삭제</a></button>
        </tr>
</div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="../../market/js/comment.js"> </script>
</body>
</html>