<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>ChanMarket</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/chanMarket/board}">ChanMarket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active"
                                        th:if="${session.loginMember == null && session.googleLogin == null}"
                                        aria-current="page" th:href="@{/chanMarket/join}">Join</a></li>
                <li class="nav-item"><a class="nav-link"
                                        th:if="${session.loginMember == null && session.googleLogin == null}"
                                        th:href="@{/chanMarket/login}">Login</a></li>
                <li class="nav-item"><a class="nav-link"
                                        th:if="${session.loginMember != null || session.googleLogin != null}"
                                        th:href="@{/chanMarket/myInfo}">myInfo</a></li>

                <form th:action="@{'/chanMarket/board'}" th:method="post">
                    <li class="nav-item">
                        <button class="nav-link" th:if="${session.loginMember != null || session.googleLogin != null}"
                                type="submit">LogOut
                        </button>
                    </li>
                </form>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       th:if="${session.loginMember != null || session.googleLogin != null}" id="navbarDropdown"
                       href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Options</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"
                               th:if="${session.loginMember != null || session.googleLogin != null}"
                               th:href="@{/chanMarket/myInfo}">My Info</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item"
                               th:if="${session.loginMember != null || session.googleLogin != null}"
                               th:href="@{/chanMarket/basket/{basketId}(basketId=${myInfo.basket.id})}">My Basket</a>
                        </li>
                        <li><a class="dropdown-item"
                               th:if="${session.loginMember != null || session.googleLogin != null}"
                               th:href="@{/chanMarket/chat/{memberId}/ChatList(memberId=${myInfo.id})}">My Chat</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark"
                        th:if="${session.loginMember != null || session.googleLogin != null}"
                        th:onclick="|location.href='@{/chanMarket/board/add}'|" type="button">
                    <i class="bi-cart-fill me-1"></i>
                    Sell Item
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Item Info</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<!-- Section-->
<div>
    <img class="card-img-top" th:src="@{${board.filepath}}" alt="NotImage" style="margin-left: 700px; height: 400px; width: 500px;"/>
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <form th:action="@{'/chanMarket/baord/{boardId}(boardId=${board.id})'}" th:method="get" style="margin-left: 200px;">
                <div>
                    조회수 :
                    <td th:text="${board.countView}" readonly></td>
                    회
                </div>
                <br>
                <div>
                    <label for="email">판매자</label>
                    <input type="text" id="email" name="email" class="form-control"
                           th:value="${board.getMember().getEmail()}" readonly>
                </div>
                <div>
                    <label for="itemName">상품명</label>
                    <input type="text" id="itemName" name="itemName" class="form-control"
                           value="상품A" th:value="${board.getTitle()}" readonly>
                </div>
                <div>
                    <label for="price">가격</label>
                    <input type="text" id="price" name="price" class="form-control"
                           value="10000" th:value="${board.getPrice()}" readonly>
                </div>
                <div>
                    <label for="itemInformation">제품 설명</label>
                    <input type="text" id="itemInformation" name="itemInformation" class="form-control"
                           value="10" th:value="${board.getItemInformation()}" readonly>
                </div>
                <br>
                <div>
                    <div class="col">
                        <button class="w-100 btn btn-primary btn-lg"
                                onclick="location.href='editForm.html'"
                                th:onclick="|location.href='@{/chanMarket/board/{boardId}/edit(boardId=${board.id})}'|"
                                th:if="${(session.loginMember != null && session.loginMember == board.member.email)}"
                                type="button">상품 수정
                        </button>
                    </div>

                    <div class="col">
                        <button class="w-100 btn btn-secondary btn-lg"
                                onclick="location.href='itemBasket.html'"
                                th:onclick="|location.href='@{/chanMarket/basket/{boardId}/add(boardId=${board.id})}'|"
                                th:if="${(session.loginMember != null && session.loginMember != board.member.email)}"
                                type="button">찜하기
                        </button>
                    </div>

                    <div class="col">
                        <a href="javascript:void(0);" class="w-100 btn btn-primary btn-lg"
                           th:if="${(session.loginMember != null && session.loginMember != board.member.email)}"
                           th:onclick="'chatRoomCreate(' + ${board.id} +','+ ${myInfo.id} + ')'">채팅하기</a>
                    </div>

                    <div class="col">
                        <a href="javascript:void(0);" class="w-100 btn btn-primary btn-lg"
                           th:if="${(session.loginMember != null && session.loginMember == board.member.email)}"
                           th:onclick="'deleteConfirm(' + ${board.id} + ')'">삭제</a>
                    </div>

                    <div class="col">
                        <button class="w-100 btn btn-primary btn-lg"
                                onclick="location.href='boardList.html'"
                                th:onclick="|location.href='@{/chanMarket/board}'|"
                                type="button">목록으로
                        </button>
                    </div>
                </div>
            </form>

            <div class="container px-4 px-lg-5 mt-5" style="float: right">
                <label>댓글(로그인한 사용자만 입력가능)</label>
                <form th:action="@{'/chanMarket/board/' + ${board.id}}" th:method="post" id="commentPost">
                    <textarea id="text" name="text" cols="40" rows="5"></textarea>
                    <br>
                    <input type="submit" th:if="${session.loginMember != null}" id="commentCreate" value="작성">
                    <input type="reset" th:if="${session.loginMember != null}" value="취소">
                </form>
                <br>
                <form>
                    <div class="card" style="width: 320px">
                        <tr th:each="comments : ${commentPage}">
                            <div class="card-header">
                                <td th:text="${comments.member.email}"></td>
                                <td th:text="${comments.nowTime}"></td>
                            </div>
                            <div class="card-body">
                                <td th:text="${comments.text}"></td>
                            </div>
                            <!--
                            <button class="w-100 btn btn-primary btn-lg" th:onclick="|location.href='@{/chanMarket/board/{commentId}/commentEdit(commentId=${comments.id})}'|"
                                    type="button">수정</button>
                            -->
                            <a href="javascript:void(0);" class="btn btn-danger"
                               th:if="${(session.loginMember != null && session.loginMember == comments.member.email)}"
                               th:onclick="'deleteComment(' + ${comments.getBoard().getId()} +','+ ${comments.id} + ')'">삭제</a>
                        </tr>
                    </div>

                    <div th:if="${!commentPage.isEmpty()}">
                        <nav
                                th:with="
                                        pageNumber = ${commentPage.pageable.pageNumber},
                                        pageSize = ${commentPage.pageable.pageSize},
                                        totalPages = ${commentPage.totalPages},
                                        startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                                        tempEndPage = ${startPage + pageSize - 1},
                                        endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})"
                                aria-label="Page navigation"
                        >
                            <ul class="pagination ">

                                <li th:classappend="${commentPage.first} ? 'disabled'" class="page-item">
                                    <a class="page-link"
                                       th:href="${commentPage.first} ? '#' : @{/chanMarket/board/{boardId}(page=${#numbers.formatDecimal((pageNumber + 1) - 1, 0, -1)}, boardId=${board.id})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>

                                <ul class="pagination ">
                                    <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                                        th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                                        <a th:text="${page}" class="page-link" th:href="@{/chanMarket/board/{boardId}(page=${page}, boardId=${board.id})}"></a>
                                    </li>
                                </ul>

                                <li th:classappend="${commentPage.last} ? 'disabled'" class="page-item">
                                    <a class="page-link"
                                       th:href="${commentPage.last} ? '#' : @{/chanMarket/board/{boardId}(page=${#numbers.formatDecimal((pageNumber + 1) + 1, 0, -1)}, boardId=${board.id})}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>


<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/boardDel.js"></script>
<script type="text/javascript" src="/js/comment.js"></script>
<script type="text/javascript" src="/js/chatRoomCreate.js"></script>
<script type="text/javascript" src="/js/commentValid.js"></script>
</body>
</html>









