<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../../static/market/css/bootstrap.min.css"
          th:href="@{/market/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>내 정보 수정</h2>
    </div>
    <form action="editForm.html" th:action method="post">
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" name="name" class="form-control" value=""
                   th:value="${member.name}">
        </div>
        <div>
            <label for="email">이메일</label>
            <input type="text" id="email" name="email" class="form-control"
                   value="" th:value="${member.email}" readonly>
        </div>
        <div>
            <label for="tel">전화번호</label>
            <input type="text" id="tel" name="tel" class="form-control"
                   th:value="${member.tel}">
        </div>
        <div>
            <label for="grade">내 등급</label>
            <input type="text" id="grade" name="grade" class="form-control"
                   th:value="${member.grade}" readonly>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='myInfo.html'"
                        th:onclick="|location.href='@{/chanMarket/itemList/myInfo}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>