<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ChanMarket</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" th:href="@{/chanMarket/board}">ChanMarket</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" th:if="${session.loginMember == null && session.googleLogin == null}" aria-current="page" th:href="@{/chanMarket/join}">Join</a></li>
                        <li class="nav-item"><a class="nav-link" th:if="${session.loginMember == null && session.googleLogin == null}" th:href="@{/chanMarket/login}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" th:if="${session.loginMember != null || session.googleLogin != null}" th:href="@{/chanMarket/myInfo}">myInfo</a></li>

                        <form th:action="@{'/chanMarket/board'}" th:method="post">
                            <li class="nav-item"><button class="nav-link" th:if="${session.loginMember != null || session.googleLogin != null}" type="submit">LogOut</button></li>
                        </form>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:if="${session.loginMember != null || session.googleLogin != null}" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Options</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:if="${session.loginMember != null || session.googleLogin != null}" th:href="@{/chanMarket/myInfo}">My Info</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" th:if="${session.loginMember != null || session.googleLogin != null}" th:href="@{/chanMarket/basket/{basketId}(basketId=${myInfo.basket.id})}">My Basket</a></li>
                                <li><a class="dropdown-item" th:if="${session.loginMember != null || session.googleLogin != null}" th:href="@{/chanMarket/chat/{memberId}/ChatList(memberId=${myInfo.id})}">My Chat</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" th:if="${session.loginMember != null || session.googleLogin != null}"
                                th:onclick="|location.href='@{/chanMarket/board/add}'|" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Sell Item
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">My Info</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <form th:action="@{'/chanMarket/myInfo'}" th:method="get">
                        <div>
                            <label for="name">이름</label>
                            <input type="text" id="name" name="name" class="form-control" value="사람"
                                   th:value="${myInfo.getName()}" readonly>
                        </div>
                        <div>
                            <label for="email">이메일</label>
                            <input type="text" id="email" name="email" class="form-control"
                                   value="aa@naver.com" th:value="${myInfo.getEmail()}" readonly>
                        </div>
                        <div>
                            <label for="tel">전화번호</label>
                            <input type="text" id="tel" name="tel" class="form-control"
                                   th:value="${myInfo.getTel()}" readonly>
                        </div>
                        <div>
                            <label for="grade">내 등급</label>
                            <input type="text" id="grade" name="grade" class="form-control" value="ddd"
                                   th:value="${myInfo.getRole()}" readonly>
                        </div>
                        <br>
                        <div>
                                <button th:onclick="|location.href='@{/chanMarket/myInfo/edit}'|" type="button">내정보 수정</button>
                                <button th:onclick="|location.href='@{/chanMarket/basket/{basketId}(basketId=${myInfo.basket.id})}'|" type="button">찜목록 보기</button>
                                <button th:onclick="|location.href='@{/chanMarket/chat/{memberId}/ChatList(memberId=${myInfo.id})}'|" type="button">채팅방 보기</button>
                                <button th:onclick="|location.href='@{/chanMarket/board}'|" type="button">뒤로가기</button>

                                <a href="javascript:void(0);" class="w-100 btn btn-primary btn-lg"
                                   th:onclick="'deleteMember()'">탈퇴</a>

                        </div>
                        <table class ="tb_col">
                            내 물품
                            <thead>
                            <tr>
                                <th>itemName</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="board : ${myInfo.getBoardList()}">
                                <td><a th:href="@{|/chanMarket/board/${board.id}|}" th:text="${board.title}"></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/deleteMember.js"></script>
    </body>
</html>
