<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>
    <table class ="tb_col">
        찜 목록
        <thead>
        <tr>
            <th>itemName</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="basketItem: ${list}">
            <td><a th:href="@{|/chanMarket/board/${basketItem.getItem().getBoard().id}|}" th:text="${basketItem.getItem().itemName}"></a></td>
            <td th:text="${basketItem.getItem().getPrice()}"></td>

            <td><button><a href="javascript:void(0);" class="btn btn-danger" th:onclick="'deleteBasketItem(' + ${basketItem.basket.id} +','+ ${basketItem.id} + ')'">삭제</a></button></td>
        </tr>
        </tbody>
    </table>

    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='myInfo.html'"
                th:onclick="|location.href='@{/chanMarket/myInfo}'|"
                type="button">뒤로가기</button>
    </div>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/baskItemDel.js"> </script>
</body>
</html>