<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
asd
<!--
<form>
    <table class ="tb_col">
        찜 목록
        <thead>
        <tr>
            <th>itemName</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${basketItem}">
            <td><a th:href="@{|/chanMarket/itemList/${itemId}|}" th:text="${}"></a></td>
            <td th:text="${basket.price}"></td>
        </tr>
        </tbody>
    </table>
</form>
-->
</body>
</html>